{% extends "base.html" %}
{% load static %}

{% block title %}
  Utwórz konto
{%endblock%}

{% block page_title %}
  Utwórz konto
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-page">
  <section class="auth-card">
    <div class="auth-header">
      <h2> 
        Dołącz do nas 
      </h2>

      <p> 
        Masz już konto?
        <a href="{% url 'accounts:login' %}"> Zaloguj się </a>
      </p>
    </div>

    <form method="post" class="auth-form">
      {% csrf_token %}

      {% if form.non_field_errors %}

        <div class="form-errors">
          {{ form.non_field_errors }}
        </div>

      {% endif %}

      <div class="form-field">
        <label for="{{ form.username.id_for_label }}">
          Nazwa użytkownika
        </label>

        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <div class="form-field">
        <label for="{{ form.email.id_for_label }}">
          Adres E-mail
        </label>
        
        {{ form.email }}
        {{ form.email.errors }}
      </div>

      <div class="form-field">
        <label for="{{ form.password1.id_for_label }}">
          Hasło
        </label>

        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>

      <div class="form-field">
        <label for="{{ forms.password2.id_for_label }}">
          Powtórz hasło
        </label>

        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>

      <button type="submit" class="auth-button">
        Zarejestruj się
      </button>
    </form>
  </section>
</div>
{% endblock %}

